/* General styling*/

html {
  position: relative;
  min-height: 100%;
}

.container > h1 {
  margin-top: 80px;
}

body {
  /*padding-bottom: 50px;*/
  margin-bottom: 52px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 52px;
  background-color: #101010;
}

.footer p {
	margin-top: 14px;
	margin-bottom: 14px;
}

p, li {
	line-height: 1.9em;
}

p {
	text-align: justify;
}

img {
	margin-left: auto;
	margin-right: auto;
}

/* Sign In Page */

#signInPanel {
  margin-top: 100px;
}

#signInPanel label {
  font-weight: normal;
  vertical-align: middle;
  padding: 6px 12px;
}

#login-form {
	max-width: 400px;
}

/* Main menu - Student */

.buttons .btn {
  display: block;
  max-width: 400px;
  padding: 10px;
  margin: 15px auto;
}

.j-button {
	color: #333;
	text-decoration: none;
	min-height: 150px;
	max-height: 200px;
	border-radius: 4px;
	border: 1px solid #CCC;
	position: relative;
}

.j-button:hover {
	color: #333;
	background-color: #EEE;
	text-decoration: none;
}

.col-lg-3 {
	margin-bottom: 15px;
}

.j-button > p {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}